<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">

  <div py:def="navigation(category)" id="${category}" class="nav">
    <ul py:if="chrome.nav[category]">
      <li py:for="idx, item in  enumerate(chrome.nav[category])"
          class="${classes(first_last(idx, chrome.nav[category]), active=item.active)}">${item.label}</li>
    </ul>
  </div>

  <py:match path="body" once="true" buffer="false"><body>
    <div id="banner">
      <div id="header" py:choose="">
        <a py:when="chrome.logo.src" id="logo" href="${chrome.logo.link or href.wiki('TracIni')+'#header_logo-section'}"><img
          src="${chrome.logo.src}" alt="${chrome.logo.alt}"
          height="${chrome.logo.height or None}" width="${chrome.logo.width or None}" /></a>
        <h1 py:otherwise=""><a href="${chrome.logo.link}">${project.name}</a></h1>
      </div>
      <form id="search" action="${href.search()}" method="get">
        <div py:if="'SEARCH_VIEW' in perm">
          <label for="proj-search">Search:</label>
          <input type="text" id="proj-search" name="q" size="18" accesskey="f" value="" />
          <input type="submit" value="Search" />
        </div>
      </form>
      ${navigation('metanav')}
    </div>
    ${navigation('mainnav')}

    <div id="main">
      <div id="ctxtnav" class="nav">
        <h2>Context Navigation</h2>
          <ul py:if="chrome.ctxtnav">
            <li py:for="i, elm in enumerate(chrome.ctxtnav)" class="${i == 0 and 'first ' or None}${i+1 == len(chrome.ctxtnav) and 'last' or None}">$elm</li>
          </ul>
        <hr />
      </div>
      <div id="warning" py:if="chrome.warnings" class="system-message">
        <py:choose test="len(chrome.warnings)">
          <py:when test="1">
            <strong>Warning:</strong> ${chrome.warnings[0]}
          </py:when>
          <py:otherwise>
            <strong>Warnings:</strong>
            <ul><li py:for="w in chrome.warnings">$w</li></ul>
          </py:otherwise>
        </py:choose>
      </div>
      <div id="notice" py:if="chrome.notices" class="system-message">
        <py:choose test="len(chrome.notices)">
          <py:when test="1">
            <strong>Notice:</strong> ${chrome.notices[0]}
          </py:when>
          <py:otherwise>
            <strong>Notices:</strong>
            <ul><li py:for="w in chrome.notices">$w</li></ul>
          </py:otherwise>
        </py:choose>
      </div>

      ${select('*|text()')}
    </div>

    <div id="footer" xml:lang="en">
<div class="legal">
    <div id="image_left">
    <img src="${href.chrome('theme/rhizomatiklabs-name-23-158.png')}" alt="Rhizomatik Labs"/>
    </div>
    <p>Copyleft 2009 &lt;Rhizomatik Labs&gt; | <a href="/mycelia/wiki/Privacy/">Privacy Policy</a></p>
    <div id="image_right">
    <img src="${href.chrome('theme/rhizomatiklabs-image-44-53.png')}" alt="Rhizomatik Labs"/>
    </div>
</div>
    

<div id="powered_by2">
    <a href="http://www.gnu.org/copyleft/fdl.html"><img src="${href.chrome('theme/gfdl-powered.png')}" alt="The content of this site is is available under the terms of the GNU Free Documentation License"/></a>
    <a href="http://www.python.org/"><img src="${href.chrome('theme/python-powered.png')}" alt="Python Powered"/></a>
<!--    <a href="http://pinaxproject.com/"><img src="${href.chrome('theme/pinax-powered.png')}" alt="Pinax Powered"/></a>-->
<!--    <a href="http://www.djangoproject.com/"><img src="${href.chrome('theme/django-powered2.png')}" alt="Django Powered"/></a>-->
    <a href="http://trac.edgewall.org/"><img src="${href.chrome('theme/trac-powered.png')}" alt="Trac Powered"/></a>
<!--    <a href="http://mysql.com/"><img src="${href.chrome('theme/mysql-powered2.png')}" alt="MySQL Powered"/></a>-->
    <a href="http://www.sqlite.org/"><img src="${href.chrome('theme/sqlite-powered.png')}" alt="SQLite Powered"/></a>
    <a href="http://apache.org/"><img src="${href.chrome('theme/apache-powered.png')}" alt="Apache Powered"/></a>
    <a href="http://www.debian.org/"><img src="${href.chrome('theme/debian-powered.png')}" alt="Debian Powered"/></a>
    <a href="http://en.wikipedia.org/wiki/Hacker_(programmer_subculture)"><img src="${href.chrome('theme/hacker-powered.png')}" alt="Hacker"/></a>
</div>
<div id="powered_by">
    <a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="${href.chrome('theme/css-powered.png')}" alt="CSS powered"/></a>
    <a href="http://validator.w3.org/check/referer"><img src="${href.chrome('theme/xhtml-powered.png')}" alt="XHTML 1.0 powered"/></a>
    <a href="http://validator.w3.org/feed/docs/rss2.html"><img src="${href.chrome('theme/rss-powered.png')}" alt="RSS powered"/></a>
    <a href="http://www.foaf-project.org/"><img src="${href.chrome('theme/foaf-powered.png')}" alt="FOAF powered"/></a>
    <a href="http://www.w3.org/RDF/"><img src="${href.chrome('theme/rdf-powered.png')}" alt="RDF powered"/></a>
    <a href=""><img src="${href.chrome('theme/tableless.png')}" alt="tableless powered"/></a>
    <a href="http://inkscape.org/"><img src="${href.chrome('theme/inkscape-powered.png')}" alt="Inkscape powered"/></a>
    <a href="http://www.w3.org/Graphics/SVG"><img src="${href.chrome('theme/svg-powered.png')}" alt="SVG powered"/></a>
</div>


    </div>
  </body></py:match>
</html>
