


body {
background: black;
margin: 0 auto;
width: 975px;
}
a {
color: #d5890d;
}

#main {
background: white;
}

#mainnav {

    border: 1px solid #999;
    background: #3F4348 url('rect-tabhead.png') left top repeat-x;

    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0;
}

#mainnav :link, #mainnav :visited {
    text-decoration: none;
    color: white;
    border: none;
}

#mainnav :link:hover, #mainnav :visited:hover {
 border: none;
 background: none;
 text-decoration: underline;
}
#mainnav .active :link, #mainnav .active :visited {
 background: none;
 color: white;
 border: none;
}
#mainnav .active :link:hover, #mainnav .active :visited:hover {
 border: none;
}
#metanav li{
border: none;
}
#metanav :link, #metanav :visited{
border: none;
color: #999999;
}
#metanav :link:hover, #metanav :visited:hover{
border: none;
background: none;
text-decoration: underline;
}
.ext-link {
color: #d5890d;
border: none;
}
.ext-link :hover{
color: #d5890d;
background: none;
text-decoration: underline;
}
#ctxtnav {    
    margin-bottom: 20px;
    padding: 0 0 10px 0;
    background: #e1f2d1;
    background: #6da52b url('rect-right_panel-h2.png') left top repeat-x; 
    border: 1px solid #66a700;
    padding-top: 6px;
    padding-bottom: 6px;
}
#ctxtnav :link, #ctxtnav :visited{ 
    color: #313131;
    border: none;

}
#ctxtnav :link:hover, #ctxtnav :visited:hover{ 
    color: #313131;
    border: none;
    background: none;
    text-decoration: underline
}
#header img{
width: 188px;
height: 49px;
}
/*
#search input[type="text"] {
    background: #3F4348;
    color: #999;
    border: 1px solid #666;
}
#search_box input[type="image"] {
    margin-left: 3px;
}
#search_box input[type="submit"] {
    border: 1px solid #666;
    background: #333;
    font-size: 11px;
}
*/
#search input {
    background: #3F4348;
    color: #999;
    border: 1px solid #666;
}

.wiki {
padding: 0 10px;
}

#footer {
    color: #999;
    border: none;
}
#footer a, #footer a:visited {
    color: #444; /* footer link colour */
    border: none;
}
#footer a:hover {
    color: #777; /* footer link hover colour */
    background: none;
    text-decoration: underline;
}

#image_left {
    float:left;
    padding:0;
    margin:0;
padding: 15px 0 0 0;
}
#image_right {
    float:right;
    padding:0;
    margin:0;
}
.legal p{
padding-top: 15px;
margin-left: 90px;
float: left;
color: #585a5f;
font-size: 11px;
padding-left: 190px;
}
#footer .legal p a {
color: #6b747a;
}
#powered_by{
    clear:both;
    margin-left: 30px;
padding-top: 10px;
}
#powered_by2{
    clear:both;
    margin-left: 90px;
padding-top: 10px;
}
#powered_by img{
    width:88px;
    height:15px;
padding: 0 10px;
}

#powered_by2 img{
    width:88px;
    height:15px;
padding: 0 9px;
}


:link, :visited {
color: #d5890d;
}

.report {
padding: 0 10px;
}
.timeline {
padding: 0 10px;
}

.roadmap {
padding: 0 10px;
}
.milestone .info h2 a em {
color: #d5890d;
}
.ticket {
padding: 0 10px;
}
.search {
padding: 0 10px;

